<h2>Interview Scoreboard</h2>
<div class="well container">
    {{#each pledge in model}} 
    {{#unless pledge.isMaster}}
    <div class="row">
        <div class="col-md-2 text-right">
            {{pledge.name}}:
        </div>
        <div class="col-md-10">
            <div class="progress">
                {{progress-bar pledge.numberInterviewsDone totalBrothers}}
            </div>
        </div>
    </div>
    {{/unless}} 
    {{/each}}
</div>
{{outlet}}