<h2>Scoreboard</h2>
{{#each pledge in model}}

{{#unless pledge.isMaster}}
<div class="well">
	<h4>{{pledge.name}}:</h4>
	<div class="progress">
		{{progress-bar pledge.numberInterviewsDone totalBrothers}}
	</div>
</div>

{{/unless}}

{{/each}}
{{outlet}}
